@import url("https://use.typekit.net/gyk8zus.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.content{
  height: auto;
}
.title{
  font-family: "bookmania", sans-serif;
  font-weight: 900;
  font-size: calc(24px + 32 * (100vw - 320px) / 1120);
  line-height: calc(32px + 32 * (100vw - 320px) / 1120);
  white-space: nowrap;
  letter-spacing: .035em;
}
.subtitle{
  display:inline-block;
  justify-content: center; 
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: calc(16px + 16 * (100vw - 320px) / 1120);
  color: black;
  opacity: .95;
}
a{
  color: #1BB994;
  text-decoration: none;
  transition: color 150ms ease;
}

a:hover{
  color: black;
  text-decoration: none;
  opacity: .95;
  transition: color 150ms ease;
}

a:active, a:hover{
  outline: 0;
}

.content {
  z-index: -1;
}

.content-body-text{
  top: 90px;
  right: 90px;
  bottom: 90px;
  left: 90px;
  width: auto;
  height: auto;
  display:block;
  position: absolute;
  text-align:center;
}

/* @media only screen and (max-width: 990px) {
  .content-body-text{
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    width: auto;
    height: auto;
    display:block;
    position: absolute;
    text-align:center;
  }
} */
.center-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hamburger-icon:hover {
  cursor: pointer;
}

/* .menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #FED269;
  overflow: hidden;
  z-index: 2;
} */

/* @keyframes drop {
  0% {
    margin-bottom: 100%;
    height: 0%; 
  }

  100% {
    margin-bottom: 0%;
    height: 100%;
    overflow: hidden;
  }
} */

/* .rise {
  animation: rise 0.4s;
  animation-timing-function: ease-out;
  margin-bottom: 100%;
}

@keyframes rise {
  0% {
    margin-bottom: 0%;
    height: 100%; 
  }

  100% {
    margin-bottom: 100%;
    height: 0%;
  }
} */

/* .hidden {
  height: 0px;
  margin-bottom: 100%; */
  /* display: none;
  opacity: 0;
  visibility: hidden;
} */


.menu{
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, -100%, 0);
  width: 100%;
  height: 100%;
  background-color: #EFB764;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  transition: opacity 700ms step-end, transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94), visibility 700ms step-end, background-color 700ms cubic-bezier(0.8, 0, 0.55, 0.94);
}
.menu.drop {
  /* animation: drop 0.4s;
  animation-timing-function: ease-in;
  overflow: hidden; */
  opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition: opacity 700ms step-start, transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94), visibility 700ms step-start, background-color 700ms cubic-bezier(0.8, 0, 0.55, 0.94);
}
.menu.drop .menu-link {
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.8, 0, 0.55, 0.94) 500ms;
}
.bars{
  /* width: 100%;
  display: flex; */
  position: absolute;
  z-index: -1;
  display: flex;
  width: inherit;
  height: 100%;
}
.column{
  border-left: 1px solid rgb(255, 255, 255);
  height: 100%;
  flex: 1;
  opacity: .3;
}
.column:last-child{
  border-right: 1px solid rgb(255, 255, 255);
}

.menu-container {
  width: 90%;
  margin-left:auto;
  margin-right: auto;
  height: 100%;
}

.menu-text{
  padding-top: 24vh;
}

.menu-link{
  opacity: 0;
  font-family: "bookmania", sans-serif;
  font-weight: 900;
  font-size: calc(24px + 40 * (100vw - 320px) / 1120);
  line-height: calc(45px + 33 * (100vw - 320px) / 1120);
  letter-spacing: .05em;
  color: white;
  cursor: pointer;
  transition: opacity 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.menu-link::before{
  position: absolute;
  content: attr(data-content); 
  background-image: linear-gradient(to bottom, 
        #FFFFFF 0%,
        #FFFFFF 50%,
        #364262 50%,
        #364262 100%
    );
  background-size: 100% 200%;
  width: 100%;
  height: 100%;
  text-decoration: none;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-position: 0% 200%;
  animation-name: exitText;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(.5,0,.5,1);
}
@keyframes hoverText{
  from{
    background-position: 0% 200%;
  }
  to{
    background-position: 0% 100%;
  }
}
@keyframes exitText{
  from{
    background-position: 0% 100%;
  }
  to{
    background-position: 0% 0%;
  }
}

.menu-link:hover::before {
  animation-name: hoverText;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.5,0,.5,1);
}

.fa {
  font-size: 32px;
  text-decoration: none;
}
.social-container{
  display: inline-flex;
  position: relative;
  width: 48px;
  height: 48px;
  border: 2px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  justify-content: center;
  align-items: center;
  opacity: .9;
  margin-top: calc((45px + 33 * (100vw - 320px) / 1120) * 2/3);
  margin-right: 1vw;
}

/* a:hover .social-container{
  border: 1px solid black;
  transition: border 200ms ease;
} */
a:hover i{
  color: #EFB764;
  transition: color 100ms ease 100ms;
}
i.fa{
  color: white;
  opacity: .9;
  z-index: 2;
  transition: color 100ms ease 100ms;
}

.social-background{
  display: block;
  overflow: hidden;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  z-index: 1;
  box-sizing: border-box;
  outline: none;
}

.social-background-inner{
  display: block;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.77, 0, 0.175, 1) 0ms;
  transition: -webkit-transform 300ms cubic-bezier(0.77, 0, 0.175, 1) 0ms;
  transition: transform 300ms cubic-bezier(0.77, 0, 0.175, 1) 0ms;
  transition: transform 300ms cubic-bezier(0.77, 0, 0.175, 1) 0ms, -webkit-transform 300ms cubic-bezier(0.77, 0, 0.175, 1) 0ms;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  outline: none;
  box-sizing: border-box;
}

a:hover .social-background-inner{
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.header{
  position: fixed;
  width:90%;
  margin-left:5%;
  margin-right:5%;
  padding-top: 36px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-right{
  display: inline-block;
}

.logo-wrapper{
  width: 64px;
  height: 64px;
  margin-top: 10px;
}
span.scroll-cue {
  padding-top: 60px;
}
span.scroll-cue span:after {
  content: "";
  position: fixed;
  top: 0%;
  left: 100%;
  width: 5px;
  height: 5px;
  /* background-color: #C9EDBD; */
  background-color: #1BB994;
  -webkit-transform: translate(-100%,0) rotate(-90deg);
  transform: translate(-100%,0) rotate(-90deg);
  box-sizing: border-box;
  z-index: 2;
}
span.scroll-cue span {
  position: fixed;
  top: 95%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-left: 2px solid #1BB994;
  border-bottom: 2px solid #1BB994;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transform-origin: bottom left;
  -webkit-animation: fadeIn 1s, pulse 1.8s ease .5s 3;
  animation: fadeIn 1s, pulse 1.8s ease .5s 3;
  box-sizing: border-box;
  z-index: 2;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  50% {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes pulse {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  50% {
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  100% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  30% {opacity: 0;}
  100% { opacity: 1; }
}
.hamburger-circle{
  width: 46px;
  height:46px;
  margin-right: 4px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.185);
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20); */
  position: relative;
  transition: transform .2s ease,box-shadow .2s ease
}
.hamburger-circle:hover{
  transform: perspective(5em) translate3d(0,0,10px);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
  transform: scale(1.12,1.12)
}

.logo{
  transition: all .8s cubic-bezier(0.63, 0.34, 0.1, 0.98)
}

.logo-color-alt{
  fill: white !important;
}

.menuSVG path {
  fill: none;
  stroke: var(--color);
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  /* transition: all .8s cubic-bezier(.645, .045, .355, 1); */
  transition: all .8s cubic-bezier(0.63, 0.34, 0.1, 0.98)
}

circle {
  opacity: 0;
}
input[type="checkbox" i]{
  display:none;
}

label {
  cursor: pointer;
  position: absolute;
  width: 46px;
  height: 46px;
}

.cross input:checked+svg .line--1,
  .cross input:checked+svg .line--3 {
    --length: 22.627416998;
    --color: #EFB764;
  }

.cross input:checked+svg .line--2 {
    --length: 0;
    --color: #EFB764;
  }

.back input:checked+svg .line--1,
  .back input:checked+svg .line--3 {
    --length: 8.602325267;
    --color: #EFB764;
  }

.menu--1 .line--1,
  .menu--1 .line--3 {
    --total-length: 126.64183044433594;
    --color:  #1BB994;
  }

.menu--1 .line--2 {
    --total-length: 70;
    --color:  #1BB994;
  }

.menu--1 input:checked+svg .line--1,
    .menu--1 input:checked+svg .line--3 {
      --offset: -94.1149185097;
      --color: #EFB764;
    }

.menu--1 input:checked+svg .line--2 {
      --offset: -50;
      --color: #EFB764;
    }

.wave{
  position: absolute;
  top: 100%;
  transform: translate(0,-65%);
  width: 100%;
  /* animation-name: wave;
  animation-duration: 1500ms;
  animation-timing-function: cubic-bezier(0.34, 1.38, 0.64, 1); */
}

/* @keyframes wave{
  from{
    transform: translate(0,0%);
  }
  to{
    transform: translate(0,-50%)
  }
} */

.waveContainer{
  position: relative;
  width: 131.125vw;
  left: -15.625vw;
  height: 100%;
  z-index: 4;
}
.wave-move-up{
  transform: translate(0,-99.9%);
  transition: transform 1.1s cubic-bezier(0.14, 0, 0.24, 0.99);
}
.wave-move-down{
  transform: translate(0, -65%);
  transition: transform 1s;
}
/* .ease{
  transition-delay: .4s !important;
} */

.textContainer{
  position: absolute;
  max-width: 30%;
  left: 49%;
  top:52%;
  z-index: 5;
}

.leftTextContainer{
    position: absolute;
    max-width: 25%;
    left: 15%;
    top:50%;
    z-index: 5;
}

.rightTextContainer{
    position: absolute;
    max-width: 25%;
    left: 60%;
    top:50%;
    z-index: 5;
}

.shortCaption{
    font-family: "Poppins", sans-serif;
    font-size: calc(10px + 9 * (100vw - 320px) / 600);
    letter-spacing: .035em;
}

.longCaption{
  font-family: "Poppins", sans-serif;
  font-size: calc(10px + 9 * (100vw - 320px) / 1120);
  letter-spacing: .035em;
}
.imageContainer{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top:0;
  left:0;
  z-index: 3;
}
#leftCloud{
  position: absolute;
  width: 50%;
  top: 100%;
  transform: translate(0,-100%);
  z-index: 3;
}
#rightCloud{
  position: absolute;
  top: 100%;
  left: 100%;
  width: 25%;
  transform: translate(-100%,-100%);
  z-index: 3;
}
#mainAirplane{
  position: absolute;
  width: 40%;
  top: 125%;
  left: -2%;
  transform: translate(2%,-125%);
  z-index: 3;
}
#topAirplane{
  position: absolute;
  width: 13%;
  top: 5%;
  left: 30%;
  transform: translate(-30%,-5%);
  z-index: 3;
}

#rightAirplane{
  position: absolute;
  width: 25%;
  top: 30%;
  left: 80%;
  transform: translate(-80%,-30%);
  z-index: 3;
}

#leftAirplane{
  position: absolute;
  width: 13%;
  top: 23%;
  left: 1%;
  transform: translate(-1%,-23%);
  z-index: 3;
}

#book{
    position: absolute;
    width: 55%;
    top: 33%;
    left: 100%;
    transform: translate(-100%,-33%);
    z-index: 1;
}

#bookCloud{
    position: absolute;
    width: 20%;
    top: 35%;
    left: 93%;
    transform: translate(-93%,-35%);
    z-index: 2;
}

#bookPlanes{
    position: absolute;
    width: 20%;
    top: 33%;
    left: 65%;
    transform: translate(-65%,-33%);
    z-index: 3;
}

#phone{
    position: absolute;
    width: 55%;
    top: 100%;
    left: 0%;
    transform: translate(0%,-100%);
    z-index: -1;
}
#phoneScene{
  z-index: -1;
}

/* #phonePopups{
    position: absolute;
    width: 25%;
    top: 50%;
    left: 35%;
    transform: translate(-35%,-50%);
    z-index: 2;
} */
#popupTop{
  position: absolute;
  width: 11%;
  top: 37%;
  left: 28%;
  transform: translate(-28%,-37%);
  z-index: 2;
}

#popupBottom{
  position: absolute;
  width: 15%;
  top: 67%;
  left: 45%;
  transform: translate(-45%,-67%);
  z-index: 2;
}

#phonePlane{
    position: absolute;
    width: 25%;
    top: 25%;
    left: 0%;
    transform: translate(-0%,-25%);
    z-index: 3;
}

.fp-tableCell{
  vertical-align: initial;
}

.subtitle2{
  display:inline-block;
  justify-content: center; 
  width: 100%;
  font-family: "Poppins";
  font-size: calc(10px + 10 * (100vw - 320px) / 1120);
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .wave{
    width: 230%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) and (orientation: portrait) {
  .wave{
    /* right: 20%; */
    /* top: 100%;
    transform: translate(-20%, -65%); */
    width: 180%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .header{
    padding-top: 24px;
  }
  #topAirplane{
    display: none;
  }

  #leftAirplane{
    display: none;
  }

  #rightAirplane{
    display: none;
  }

  #mainAirplane{
    height: 38%;
    width: auto;
    top: 100%;
    transform: translate(0, -100%);
    /* z-index: -1; */
  }

  #leftCloud{
    height: 20%;
    width: auto;
  }

  #rightCloud{
    height: 30%;
    width: auto;
  }


#book{
    position: absolute;
    width: unset;
    height: 60%;
    top: 100%;
    left: 100%;
    transform: translate(-100%,-100%);
    z-index: -1;
}

#bookCloud{
    position: absolute;
    width: unset;
    height: 10%;
    top: 60%;
    left: 93%;
    transform: translate(-93%,-60%);
    z-index: 2;
}

#bookPlanes{
    position: absolute;
    width: unset;
    height: 15%;
    top: 63%;
    left: 33%;
    transform: translate(-33%,-63%);
    z-index: 3;
}

#phone{
    position: absolute;
    width: unset;
    height: 45%;
    top: 100%;
    left: 0%;
    transform: translate(0%,-100%);
    z-index: -1;
}

#phonePopups{
    display: none;
    position: absolute;
    width: unset;
    height: 20%;
    top: 75%;
    /* left: 70%; */
    transform: translate(-70%,-75%);
    z-index: 3;
}

#phonePlane{
    position: absolute;
    width: unset;
    height: 20%;
    top: 70%;
    left: 0%;
    transform: translate(-0%,-70%);
    z-index: 2;
}

  .textContainer{
    /* display: none; */
    /* top: 20%; */
    /* bottom: 30%; */
    transform: translate(0, -100%) !important;
    left: 12%;
    max-width: 80%;
  }

  .leftTextContainer{
    transform: translate(0, -200%) !important;
    left: 12%;
    max-width: 80%;
  }

  .rightTextContainer{
    transform: translate(0, -250%) !important;
    left: 8%;
    max-width: 90%;
  }

  .shortCaption{
    font-size: calc(10px + 9 * (100vh - 320px) / 300);
  }

  .longCaption{
    font-size: calc(10px + 9 * (100vh - 320px) / 600);
  }

  .subtitle2{
    width: 80%;
    /* transform: translate(-16%, 0); */
    font-size: calc(10px + 9 * (100vh - 320px) / 600);
  }
}

/* landscape phones */
@media only screen and (max-height: 500px) and (orientation: landscape) {
  .textContainer{
    top:42%;
    /* left: 130%; */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1200px) and (min-height: 500px) and (orientation: landscape) {
  #mainAirplane{
    /* height: 55%;
    width: auto; */
    height: auto;
    width: 45%;
    top: 100%;
    transform: translate(0, -100%);
  }

  /* #leftCloud{
    width: 52%;
    height: auto;
    right: 50%;
    transform: translateX(-50%);
  } */

  /* #rightCloud{
    height: 30%;
    width: auto;
  } */

  .textContainer{
    /* display: none;
    top: 20%;
    bottom: 30%;
    transform: translate(0, -100%) !important;
    max-width: 80%; */
    left: 50%;
    top: 60%;
  }

  .longCaption{
    font-size: calc(10px + 9 * (100vh - 320px) / 600);
  }
  @media only screen and (min-width: 768px) and (max-width: 850px) and (min-height: 500px) and (orientation: landscape) {
    #mainAirplane{
      /* height: 55%;
      width: auto; */
      height: auto;
      width: 55%;
      top: 100%;
      transform: translate(0, -100%);
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

} 

.links{
  list-style: none;
  padding: 0;
  margin: 0;
}

.link{
  display: inline-block;
  vertical-align: middle;
  list-style-image: none;
  list-style-type: none;
}

.link a{
  color: black;
  opacity: .95;
  transition: color 200ms ease;
}

.link a:hover{
  color: #1BB994;
  opacity: .95;
}
.link:after{
  content: '\2022';
  margin-left: 6px;
  margin-right: 6px;
  color: #1BB994;
}

.link:last-child:after{
  content: '';
}

/* @supports (-webkit-touch-callout: none){
  @media only screen and (orientation: portrait){
    .menu-container {
      height: -webkit-fill-available;
    }
    .imageContainer{
      height: -webkit-fill-available;
    }
    .waveContainer{
      height: -webkit-fill-available;
    }
  }
} */
#absolute{
  width: 100%;
  height: 100%;
}
.hover-reveal {
  position: absolute;
  z-index: -2;
  width: 228px;
  height: 150px;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

.hover-reveal__inner {
  overflow: hidden;
}

.hover-reveal__inner,
.hover-reveal__img {
  width: 100%;
  height: 100%;
  position: relative;
}

.hover-reveal__img {
  background-size: cover;
  background-position: 50% 50%;
}

@supports (-webkit-touch-callout: none) {
  .hover-reveal {
    display: none;
  }
}