.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title{
  font-family: "Karla";
  font-weight: bold;
  font-size: calc(24px + 40 * (100vw - 320px) / 1120);
  line-height: calc(45px + 33 * (100vw - 320px) / 1120);
  letter-spacing: .05em;
  white-space: nowrap;
}
.subtitle{
  display:inline-block;
  justify-content: center; 
  width: 100%;
  font-family: "Jost";
  font-size: calc(20px + 16 * (100vw - 320px) / 1120);
}

.content{
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.content-body-text{
  top: 90px;
  right: 90px;
  bottom: 90px;
  left: 90px;
  width: auto;
  height: auto;
  display:block;
  position: absolute;
  text-align:center;
}
/* @media only screen and (max-width: 990px) {
  .content-body-text{
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    width: auto;
    height: auto;
    display:block;
    position: absolute;
    text-align:center;
  }
} */
.center-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
