@import url(App.css);
.design-challenge {
  padding-top: 132px;
  background-color: #3A86C8;
  color: white; }
  .design-challenge .h1 {
    font-family: "new-spirit-condensed", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 96px;
    letter-spacing: 0.05em; }
  .design-challenge .h2 {
    font-family: "new-spirit-condensed", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 72px;
    letter-spacing: 0.05em; }
  .design-challenge .b1 {
    font-family: "bookmania", serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.01em; }
  .design-challenge .b2 {
    font-family: "bookmania", serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.01em; }
  .design-challenge .poppins {
    font-family: "Poppins" !important; }
  .design-challenge .date {
    font-family: "Poppins";
    font-size: 36px;
    letter-spacing: 0.055em; }
  .design-challenge .button {
    background-color: black;
    font-family: "Poppins";
    color: white;
    padding: 20px;
    font-size: 14px;
    line-height: 1;
    padding: 16px 48px 18px;
    transition-property: background-color,border-color,color,box-shadow,filter,transform;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    width: 392px;
    display: block;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    white-space: normal;
    cursor: pointer; }
  .design-challenge .button-small {
    background-color: transparent;
    font-family: "Poppins";
    border: 3px solid white;
    color: white;
    font-size: 14px;
    line-height: 1;
    padding: 8px 24px 8px;
    border-radius: 45px;
    transition: all .3s ease; }
  .design-challenge .button-small:hover {
    background-color: white;
    border: 3px solid white;
    color: black;
    font-size: 14px;
    line-height: 1;
    padding: 8px 24px 8px;
    border-radius: 45px; }
  .design-challenge .button:hover {
    background-color: #fff;
    box-shadow: 0px 15px 20px rgba(179, 179, 179, 0.4);
    color: #000;
    transform: translateY(-3px); }
  .design-challenge .rotate {
    animation: rotate-360 6s linear 0s infinite normal; }
  .design-challenge .reverse-rotate {
    -webkit-animation: rotate-360 3s linear 0s infinite reverse;
    -moz-animation: rotate-360 3s linear 0s infinite reverse;
    -ms-animation: rotate-360 3s linear 0s infinite reverse;
    -o-animation: rotate-360 3s linear 0s infinite reverse;
    animation: rotate-360 3s linear 0s infinite reverse;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused; }
  .design-challenge a.circle-container {
    color: white; }
  .design-challenge .circle-container:hover {
    transform: scale(1.25); }
    .design-challenge .circle-container:hover .reverse-rotate {
      -webkit-animation-play-state: running;
      -moz-animation-play-state: running;
      -ms-animation-play-state: running;
      -o-animation-play-state: running;
      animation-play-state: running; }
  .design-challenge .circle-container.Illustration {
    transform: scale(1.15); }
  .design-challenge .circle-container.Illustration:hover {
    transform: scale(1.4375); }
  .design-challenge .circle-container {
    width: 250px;
    height: 250px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
    transform-origin: center; }
  .design-challenge .emoji {
    position: relative;
    transform: translate(-50%, 0);
    height: 90px; }
  .design-challenge .circle-container.Illustration .emoji {
    height: 72px; }
  .design-challenge .hover-reveal {
    position: fixed;
    z-index: -2;
    width: 228px;
    height: 150px;
    top: -100%;
    left: 20%;
    /* pointer-events: none; */
    opacity: 0; }
  .design-challenge .rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .design-challenge .header {
    top: 36px;
    padding: 0; }
  .design-challenge .pointer {
    pointer-events: none;
    display: block; }
  .design-challenge .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    column-gap: 2vw;
    row-gap: 2vw;
    align-items: center;
    justify-items: center; }
  .design-challenge .mentor {
    max-width: 100%;
    object-fit: cover;
    height: 250px;
    border-radius: 4px;
    border: 3px solid #fff;
    transition: all .275s ease;
    box-shadow: 0px 15px 20px rgba(22, 22, 22, 0.375);
    transform: translateY(-10px); }
  .design-challenge .mentor:hover {
    box-shadow: 0px 15px 20px rgba(22, 22, 22, 0.175);
    transform: translateY(-2px); }
  .design-challenge .mentor-text {
    width: 210px; }
  .design-challenge .mentor-container {
    height: auto;
    width: 250px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: -56px; }
  .design-challenge .mentor-container > a:hover {
    color: initial;
    background-color: initial;
    opacity: initial;
    transition: initial; }
  .design-challenge .mentor-category-container {
    box-shadow: 0px 15px 20px rgba(22, 22, 22, 0.175);
    background-color: #0F4C81;
    border-radius: 40px;
    border: 3px solid #13548d;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 12px; }
  .design-challenge .section-2 {
    margin-top: 156px; }
@keyframes rotate-360 {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
  @media only screen and (max-width: 768px) and (orientation: portrait) {
    .design-challenge {
      padding-top: 0px; }
      .design-challenge .h1 {
        font-family: "new-spirit-condensed", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 56px;
        letter-spacing: 0.05em; }
      .design-challenge .h2 {
        font-family: "new-spirit-condensed", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 72px;
        letter-spacing: 0.05em; }
      .design-challenge .b1 {
        font-family: "bookmania", serif;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.01em; }
      .design-challenge .button {
        width: 256px; }
      .design-challenge .header {
        position: initial;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 16px;
        padding-top: 16px;
        width: 100%;
        margin: 0; }
      .design-challenge .section-2 {
        margin-top: 64px; } }
  @media only screen and (max-width: 992px) {
    .design-challenge .mentor-container {
      height: auto;
      width: 250px;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-top: 0px;
      padding-top: 24px; }
    .design-challenge .mentor {
      max-width: 100%;
      object-fit: cover;
      height: 300px;
      border-radius: 4px;
      border: 3px solid #fff;
      transition: all .275s ease;
      box-shadow: 0px 15px 20px rgba(22, 22, 22, 0.375);
      transform: translateY(-4px); }
    .design-challenge .mentor:hover {
      box-shadow: 0px 15px 20px rgba(22, 22, 22, 0.175);
      transform: translateY(2px); }
    .design-challenge .mentor-category-container {
      box-shadow: 0px 15px 20px rgba(22, 22, 22, 0.175);
      background-color: #0F4C81;
      border-radius: 40px;
      border: 3px solid #13548d;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 24px;
      padding-top: 24px;
      margin: 0px; } }

.designathon {
  background-image: url("/images/designathon/grid.png");
  padding-top: 132px;
  background-color: #C1F0E5;
  color: #426968; }
  .designathon a.link {
    text-decoration: underline;
    color: #356A69;
    transition: all 200ms ease; }
  .designathon a.link:hover {
    color: #1BB994;
    transition: all 200ms ease; }
  .designathon .h1 {
    font-family: "Mechanical", serif;
    /* font-weight: 700; */
    font-style: normal;
    font-size: 3.6458333333333335vw;
    letter-spacing: 0.05em; }
  .designathon .h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px; }
  .designathon .h3 {
    font-family: "Mechanical", serif;
    /* font-weight: 700; */
    font-style: normal;
    font-size: 8vw;
    letter-spacing: 0.05em; }
  .designathon .h4 {
    font-family: "Mechanical", serif;
    /* font-weight: 700; */
    font-style: normal;
    font-size: 33px;
    letter-spacing: 0.05em; }
  .designathon .h5 {
    font-family: "Mechanical", serif;
    /* font-weight: 700; */
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.05em; }
  .designathon .b1 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.01em; }
  .designathon .b2 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.01em; }
  .designathon .b3 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.01em; }
  .designathon .bold {
    font-weight: 700 !important; }
  .designathon .semibold {
    font-weight: 600 !important; }
  .designathon .poppins {
    font-family: "Poppins" !important; }
  .designathon .button {
    background-color: #C9EDBD;
    font-family: "Poppins";
    border: 2.07877px solid #FFFFFF;
    border-radius: 13px;
    transition-property: background-color,border-color,color,box-shadow,filter,transform;
    transition-duration: .3s;
    cursor: pointer;
    padding: 12px 43px 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    color: #426968;
    display: inline-block; }
  .designathon .button-small {
    background-color: #C9EDBD;
    font-family: "Poppins";
    border: 2.07877px solid #FFFFFF;
    border-radius: 13px;
    transition-property: background-color,border-color,color,box-shadow,filter,transform;
    transition-duration: .3s;
    cursor: pointer;
    padding: 8px 16px 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    color: #426968;
    display: inline-block; }
  .designathon .button-small:hover {
    background-color: #fff;
    box-shadow: 0px 15px 20px rgba(179, 179, 179, 0.4);
    border: 2.07877px solid #C9EDBD;
    color: #000;
    transform: translateY(-2px); }
  .designathon .button:hover {
    background-color: #fff;
    box-shadow: 0px 15px 20px rgba(179, 179, 179, 0.4);
    color: #000;
    transform: translateY(-2px); }
  .designathon .button-bordered:hover {
    border: 2.07877px solid #C9EDBD; }
@keyframes rotate-360 {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
  .designathon .rotate {
    animation: rotate-360 8s linear 0s infinite normal; }
  .designathon .reverse-rotate {
    -webkit-animation: rotate-360 4s linear 0s infinite reverse;
    -moz-animation: rotate-360 4s linear 0s infinite reverse;
    -ms-animation: rotate-360 4s linear 0s infinite reverse;
    -o-animation: rotate-360 4s linear 0s infinite reverse;
    animation: rotate-360 4s linear 0s infinite reverse; }
  .designathon a.circle-container {
    color: white; }
  .designathon .circle-container:hover {
    transform: scale(1.25); }
  .designathon .circle-container:hover .reverse-rotate {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running; }
  .designathon .circle-container.Illustration {
    transform: scale(1.15); }
  .designathon .circle-container.Illustration:hover {
    transform: scale(1.4375); }
  .designathon .circle-container {
    width: 250px;
    height: 250px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
    transform-origin: center; }
  .designathon .emoji {
    position: relative;
    transform: translate(-50%, 0);
    height: 90px; }
  .designathon .circle-container.Illustration .emoji {
    height: 72px; }
  .designathon .hover-reveal {
    position: fixed;
    z-index: -2;
    width: 228px;
    height: 150px;
    top: -100%;
    left: 20%;
    /* pointer-events: none; */
    opacity: 0; }
  .designathon .rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .designathon .header {
    top: 36px;
    padding: 0; }
  .designathon .pointer {
    pointer-events: none;
    display: block; }
  .designathon .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    column-gap: 2vw;
    row-gap: 2vw;
    align-items: start;
    justify-items: center; }
  .designathon .mentor {
    max-width: 100%;
    object-fit: cover;
    height: 250px;
    border-radius: 4px;
    border: 3px solid #fff;
    transition: all .275s ease;
    box-shadow: 0px 15px 20px rgba(22, 22, 22, 0.375);
    transform: translateY(-10px); }
  .designathon .mentor:hover {
    box-shadow: 0px 15px 20px rgba(22, 22, 22, 0.175);
    transform: translateY(-2px); }
  .designathon .mentor-text {
    width: 210px; }
  .designathon .mentor-container {
    height: auto;
    width: 250px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: -56px; }
  .designathon .mentor-container > a:hover {
    color: initial;
    background-color: initial;
    opacity: initial;
    transition: initial; }
  .designathon .mentor-category-container {
    box-shadow: 0px 15px 20px rgba(22, 22, 22, 0.175);
    background-color: #0F4C81;
    border-radius: 40px;
    border: 3px solid #13548d;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 12px; }
  .designathon .section-1 {
    padding-top: 96px;
    height: 100vh; }
  .designathon .section-2 {
    background-color: #325C5C;
    padding-top: 56px;
    padding-bottom: 72px; }
  .designathon .section-3 {
    padding-top: 96px;
    min-height: 100vh;
    padding-bottom: 96px; }
  .designathon .section-3-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-column-gap: 72px; }
  .designathon .section-4 {
    background-color: white;
    padding-top: 56px;
    padding-bottom: 72px;
    min-height: 100vh; }
  .designathon .section-5 {
    padding-top: 56px;
    padding-bottom: 56px; }
  .designathon .section-6 {
    background-color: white;
    color: #426968;
    padding-top: 56px;
    padding-bottom: 56px; }
  .designathon .dthonWorkshops {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-column-gap: 36px;
    grid-row-gap: 36px; }
  .designathon .workshop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    padding-top: 20px;
    padding-bottom: 100px;
    border: 8px solid #fba721;
    border-radius: 12px; }
  .designathon .mx-32 {
    margin-left: 32px;
    margin-right: 32px; }
  .designathon .workshop-button {
    position: absolute;
    bottom: 24px; }
  .designathon .workshop-button:nth-child(2) {
    position: absolute;
    bottom: 24px;
    background-color: #C9EDBD;
    font-family: "Poppins";
    border: 2.07877px solid #FFFFFF;
    border-radius: 13px;
    transition-property: background-color,border-color,color,box-shadow,filter,transform;
    transition-duration: .3s;
    cursor: pointer;
    padding: 12px 43px 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #426968; }
  .designathon .judge {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .designathon .judgeCaption {
    margin-top: 12px; }
  .designathon .judgeImg {
    width: 180px;
    height: auto; }
  .designathon .judgeImgSmall {
    width: 100px;
    height: auto; }
  .designathon .qText {
    color: #616161;
    font-weight: 400;
    font-size: 18px; }
  .designathon .textbox-container {
    /* background-image: url(./textbox.png);
    background-size: contain;
    background-repeat: no-repeat; */
    border: 2px solid #92D4C5;
    max-height: 0px;
    animation-name: textbox;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.57, 0.1, 0.1, 0.9);
    animation-fill-mode: forwards; }
  .designathon .textbox-small-container {
    /* background-image: url(./textbox.png);
    background-size: contain;
    background-repeat: no-repeat; */
    border: 2px solid #92D4C5;
    max-height: 0px;
    animation-name: textbox-small;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.57, 0.1, 0.1, 0.9);
    animation-fill-mode: forwards; }
  .designathon .tablist {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-family: "Poppins"; }
  .designathon .tablist-small {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: "Poppins"; }
  .designathon .tab {
    color: #303030;
    transition: all 200ms ease; }
  .designathon .tab:hover {
    color: #1BB994;
    transition: all 200ms ease; }
@keyframes textbox {
  from {
    max-height: 0px; }
  to {
    max-height: 180px; } }
@keyframes textbox-small {
  from {
    max-height: 0px; }
  to {
    max-height: 300px; } }
  .designathon .square {
    position: absolute;
    width: 22px;
    height: 22px;
    background: #FFFFFF;
    border: 2px solid #92D4C5; }
@keyframes slideup {
  0% {
    transform: translateY(290px) rotate(20deg); }
  100% {
    transform: translateY(0px) rotate(0deg); } }
  .designathon .animate-slideup {
    transform: translateY(290px) rotate(15deg);
    animation: slideup 1000ms cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
    animation-delay: 2s;
    transform-origin: top center; }
  .designathon .bigGear {
    left: 83.8%;
    top: 603.2px; }
  .designathon .smallGear {
    left: 69%;
    top: 722.332px; }
  .designathon .bigGear-2 {
    left: 82.2%;
    top: 3304.5px; }
  .designathon .smallGear-2 {
    left: 90%;
    top: 3214.02px; }
  .designathon .dthonTitle {
    opacity: 0; }
  .designathon .date {
    opacity: 0; }
  .designathon .toggle-switch, .designathon .toggle-switch .toggle-knob {
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  .designathon .toggle-switch {
    height: 30px;
    width: 53px;
    display: inline-block;
    background-color: #ffffff;
    margin: 2px;
    margin-bottom: 5px;
    border-radius: 30px;
    cursor: pointer;
    border: solid 1px #d2d6de;
    box-shadow: inset 1px 1px 9px -3px rgba(4, 4, 4, 0.08), 1px 2px 6px -2px rgba(0, 0, 0, 0.01); }
  .designathon .toggle-switch .toggle-knob {
    width: 26px;
    height: 26px;
    display: inline-block;
    background-color: #ffffff;
    border: solid 1px rgba(126, 126, 126, 0.07);
    box-shadow: 0 1px 3px rgba(107, 106, 106, 0.26), 0 5px 1px rgba(107, 106, 106, 0.13);
    border-radius: 26px;
    margin: 1px 1px; }
  .designathon .toggle-switch.active {
    background-color: #77e189;
    border: solid 1px transparent; }
  .designathon .toggle-switch.active .toggle-knob {
    margin-left: 24px; }
  .designathon .quick-links {
    max-width: 1200px;
    margin: auto; }

/*# sourceMappingURL=main.css.map */
